.header{
    padding: 20px 50px;
    width: 100%;
    background-color: darkmagenta;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__titulo{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 200;
    }
    &__Nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        &--items{
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
        }
    }

}